.var-login {
  top: 30%;
  left: 50%;
  width: 300px;
  position: absolute;
  transform: translate(-50%, -30%);

  &__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: var(--el-font-size-large, 18px);
  }

  &__utils {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-between;

    .el-checkbox {
      margin-right: 0;
    }

    &--button {
      padding-top: 4px;
    }
  }
}
