.var-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;

  > * {
    width: 100%;
    height: auto;
    flex: 0 0 auto;
  }

  &__body {
    flex: 2 2 auto;
  }
}

.var-login_signIn {
  width: 681px;
  padding: 20px;
  margin: 5% auto 0;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 0 6px #aaa;
    background-color: rgba(175, 175, 175, .1);
  }

  &--title {
    text-align: center;
  }

  &--body {
    display: flex;
    align-items: stretch;
  }

  &--line {
    width: 1px;
    margin: 0 40px;
    background-color: #ddd;
  }

  &--form,
  &--qrcode {
    width: 300px;
  }

  // qrcode
  &__qrcode {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    overflow: hidden;
    user-select: none;
    position: relative;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 0 3px #aaa;
    }

    &--nav {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(255, 255, 255, .7);
    }

    &--span {
      line-height: 3;
      font-size: 16px;
      font-weight: bold;
    }

    &--text {
      padding-top: 10px;
      text-align: center;
    }
  }

  // form
  &__form {
    width: 100%;
    padding-bottom: 20px;

    &--btn {
      width: 100%;
    }
  }

  &--footer {
    width: 300px;
    margin-left: auto;
    padding-top: 20px;
    text-align: center;
  }
}

.var-login_signUp {
  width: 300px;
  padding: 20px;
  overflow: hidden;
  margin: 5% auto 0;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 0 6px #aaa;
    background-color: rgba(175, 175, 175, .1);
  }

  &--note,
  &--title {
    text-align: center;
  }

  &--header {
    padding: 20px 0;
  }

  &--btn {
    width: 100%;
  }
}