.var-nav {
  height: 44px;
  display: flex;
  padding: 10px 10px;
  align-items: center;

  > * {
    flex: 0 0 auto;

    + * {
      margin-left: 10px;
    }
  }

  > .el-button,
  > .el-dropdown > .el-button {
    padding: 0;
    width: 24px;
    height: 24px;

    &:focus-visible {
      outline: none;
    }
  }

  &__container {
    height: 34px;
    flex: 1 1 auto;
    overflow: hidden;
    align-self: flex-start;
  }

  &__body {
    display: flex;

    > * + * {
      margin-left: 10px !important;
    }
  }

  &__item:hover .var-nav__icon {
    width: 12px;
    margin-left: 5px;
  }

  &__icon {
    width: 0;
    margin-left: 0;
    transition-duration: 0.1s;
    transition-property: width, margin-left;

    &:hover {
      color: #f44;
    }
  }
}
