/**
 * ========================================================================================
 * css3 滚动条
 * ========================================================================================
 */

::-webkit-scrollbar {
  width: 6px;

  &:horizontal {
    height: 6px;
  }

  &-track {
    border-radius: 10px;
  }

  &-thumb {
    border-radius: 10px;
    background-color: #0003;
    transition: all .2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #0000004d
    }
  }
}

/**
 * ========================================================================================
 * 默认样式
 * ========================================================================================
 */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #848484;
  font-size: 14px;
  background: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#app {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
