.var-viewMenu {
  margin: 0 10px;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 2px #ddd;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: var(--el-border);

    &-form {
      width: 100%;
      height: 24px;
    }

    &-button {
      display: flex;
      margin-left: 10px;
      align-items: center;
    }
  }

  &__footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: var(--el-border);
  }
}
