.var-sign {

  &__login,
  &__register {
    top: 10%;
    left: 50%;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    transform: translate(-10%, -50%);

    &:hover {
      background-color: rgba(170, 170, 170, .2);
    }
  }

  &__login {

  }

  &__register {
  }
}